<!DOCTYPE html>

<html>

<head>
<title>Loan Master</title>

</head>
<link rel="stylesheet" href="main.css">
<body onload="myLoad();" style="font-family:arial;">

	<div style="border: 1px solid #ddd;font-family: arial; font-size: 24px; text-align: center; height:32px; background-color:#f2f2f2; color: #000080; padding: 4px 5px 2px 4px;">
		<strong>Loan Master</strong><br> 
	  </div>
	  <div style="height:27px; background-color:#000080; padding: 2px 5px 2px 5px;">
		<button id="GoToBackOffice" class="buttony button4" style="float: left; width: 250px; margin-right: 25px;" onclick="window.location.href='/Mainmenu'" ><strong>Main Menu</strong></button>
		
		<button id="GoToBackOffice" class="buttony button4" style="float: left; width: 250px; margin-right: 25px;" onclick="window.location.href='/Quickcalculator'" ><strong>Quick Loan Calculator</strong></button>
	  </div>

<br> <br> <br> 


<section>
  <nav style="float: left; width: 860px; width: height: 600px; " >

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Source Names.." title="Type in a name" hidden>

<form action="/tablebo/data" method="POST">
    Run for Business Date:<input type="date" style="font-family:arial;" name="data" id="data" >
    <button type="submit">Send</button>
  </form>
  <br> 
  <button id="GoToBackOffice" class="buttony button3" style="float: center; width: 150px; " onclick="window.location.href='/mainmenu'" ><strong>Expand</strong></button>
  <br><br>

	<table class="myTable_2" style="width: 100%;" id="myTable_2" >
	
		<thead class="fixedHeader">
			<tr class="header">

			<th width="170">Loan ID</th>
			<th width="160">Balance</th>
			<th width="160">Rate</th>
			<th width="160">Num Pmts</th>
			
			<%if(dataSet.length < 8){ %>
			    <% val = "160" %>
				
            <% } %>
			<%if(dataSet.length >= 8){ %>
				<% val = "176" %>
            <% } %>
						
			<th width="<%= val %>"> Payment</th>
			
			</tr>
		</thead>
   
	<tbody class="scrollContent">
   
	<% for (var i = 0; i < dataSet.length; i++) {  %>
		<% buff=dataSet[i].balance; buff=buff.toString();var pattern = /(-?\d+)(\d{3})/g; buff = buff.replace(pattern, "$1,$2"); buff = buff.replace(pattern, "$1,$2"); buff = buff.replace(pattern, "$1,$2") %>

				
		<tr onclick="myFunction(this)">
		<td width="170"><%= dataSet[i].loanid %></td>
		
		<td id="aa" class="right" width="160"><%= buff %></td>
		<td class="right" width="160"><%= dataSet[i].rate %></td>
		<td class="right" width="160"><%= dataSet[i].numpmts %></td>
		<td class="right" width="160"><%= dataSet[i].payment %></td>
		</tr>  
		
		<tr onclick="myFunction(this)">
		<td width="170"><%= dataSet[i].loanid %></td>
		<td class="right" width="160"><%= buff %></td>
		<td class="right" width="160"><%= dataSet[i].rate %></td>
		<td class="right" width="160"><%= dataSet[i].numpmts %></td>
		<td class="right" width="160"><%= dataSet[i].payment %></td>
		</tr>  
		
		<tr onclick="myFunction(this)">
		<td width="170"><%= dataSet[i].loanid %></td>
		<td class="right" width="160"><%= buff %></td>
		<td class="right" width="160"><%= dataSet[i].rate %></td>
		<td class="right" width="160"><%= dataSet[i].numpmts %></td>
		<td class="right" width="160"><%= dataSet[i].payment %></td>
		</tr>  
		
  <% } %>
</tbody>		
</table>
	 </nav>

	<article style="float: left; max-width: 600px; display: inline-block ">
   
	<p><font size="4" color="#000080"> <strong>Loan Thumbnail</strong></font></p>
    <div style="float: left; width: 150px;" >	
	<label style="color: blue" >Loan ID:</label><br><br>
	<label style="color: blue" >Balance:</label><br><br>
	<label style="color: blue" >Rate:</label><br><br>
	<label style="color: blue" >Num Pmts:</label><br><br>
	<label style="color: blue" >Payment:</label><br><br>

	</div>

	<font size="3" color="black">
    <div style="float: left; width: 200px;  border: none; " >	
	<label style="color: black" id="loanid"></label><br><br>
	<label style="color: black" id="balance"></label><br><br>
	<label style="color: black" id="rate"></label><br><br>
	<label style="color: black" id="numpmts"></label><br><br>
	<label style="color: black" id="pmt"></label><br><br>
	</div>		
	
	<table class="myTable_2" style="width: 100%;" id="myTable_2" hidden>
	
		<thead class="fixedHeader">
			<tr class="header">

			<th width="200">Loan ID</th>
			<th width="180">Balance</th>
			<th width="180">Rate</th>
			<th width="180">Num Pmts</th>
			
			<%if(dataSet.length < 11){ %>
			    <% val = "180" %>
				
            <% } %>
			<%if(dataSet.length >= 11){ %>
				<% val = "196" %>
            <% } %>
						
			<th width="<%= val %>"> Payment</th>
			
			</tr>
		</thead>
   
	<tbody class="scrollContent">
   
	<% for (var i = 0; i < dataSet.length; i++) {  %>
		<tr >
		<td width="200"><%= dataSet[i].loanid %></td>
		<td class="center" width="180"><%= dataSet[i].balance %></td>
		<td class="center" width="180"><%= dataSet[i].rate %></td>
		<td class="center" width="180"><%= dataSet[i].numpmts %></td>
		<td class="center" width="180"><%= dataSet[i].payment %></td>
		</tr>  
		
  <% } %>
</tbody>		
</table>

</article>
</section>


<script>

var table;

table = document.getElementById("myTable_1");

var i,m,buff;

//\d)(?=(\d{3})+(?!\d))/g
var pattern = /(-?\d+)(\d{3})/;

function myFunction() {

  var input, filter, table, tr, td, i, x;

  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();

  x=document.getElementById("viewOption").innerHTML;

  if (x == 'Collapse'){
                table = document.getElementById("myTable_1");}
                else{
                table = document.getElementById("myTable_2");
                }

  tr = table.getElementsByTagName("tr");

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }      
  }
}

function setViewOption() {

//alert("Collapse");

//var x,y,z = sessionStorage.test1;
/*
table1 = document.getElementById("myTable_1");
table2 = document.getElementById("myTable_1");

 x=document.getElementById("viewOption").innerHTML;

if (x == 'Collapse'){
	x = 'Expand';
	table1.style.display = "none";
	table2.style.display = "Block";
	} else{
	x = 'Collapse';
	table2.style.display = "none";
	table1.style.display = "Block";
	};

 document.getElementById("viewOption").innerHTML=x;
*/

}

function myFunction(x) {

var cell_1 = x.getElementsByTagName("td")[0];
var cell_2 = x.getElementsByTagName("td")[1];
var cell_3 = x.getElementsByTagName("td")[2];
var cell_4 = x.getElementsByTagName("td")[3];
var cell_5 = x.getElementsByTagName("td")[4];


var id = cell_1.innerHTML;

//var balance = accounting.unformat(cell_2.innerHTML);
var balance = cell_2.innerHTML;
balance = balance.replace(/\B(?=(\d{3})+(?!\d))/g, ",");

var rate = cell_3.innerHTML;
rate =  Number(rate).toFixed(4);    // rate.toFixed(4)
//).toFixed(4)
//rate = rate.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
//						\d)(?=(\d{3})+(?!\d))/g
// Number(1234.5678).toFixed(4);

var numpmts = cell_4.innerHTML;
var pmt = cell_5.innerHTML;
//alert("id: " + id);
//  alert("Row index is: " + x.rowIndex);
document.getElementById("loanid").innerHTML=id;

document.getElementById("balance").innerHTML=accounting.formatNumber(balance,2);
document.getElementById("rate").innerHTML=accounting.formatNumber(rate,4);
document.getElementById("numpmts").innerHTML=numpmts;
document.getElementById("pmt").innerHTML=pmt;

}

</script>

<script>
function myLoad() {

var table = document.getElementById("myTable_2");
var tr = table.getElementsByTagName("tr");
var td, buff, i;

//alert(tr.length);
//tr.length

}

</script>
 

<style>

#myTable_1 tr:hover {

  background-color: #7979d2;

  color: white;

}

</style>

 

</body>

</html>

 